.footer {

	position: absolute;
	/* z-index: 100; */
	bottom: 0;
	width: 100%;
	padding-top: 8rem;
	margin-top: 10rem;
	/* margin: 4rem 0; */

}

.footer ul {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 3rem;

}

.footer ul li {

    margin: 0 1rem;
	text-transform: capitalize;
	font-weight: 600;
	text-align: center;

}

.footer ul li a {

	color: var(--black-600);
	font-size: 1.2rem;
}
