@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

html{
    
    font-size: 62.5%;

    --white-800: rgb(236, 236, 236);

    --black-1000:  rgb(0, 0, 0);
    --black-600: rgb(53, 53, 53);

}

body{
    
    font-family: 'Montserrat', Tahoma, Helvetica, Verdana;
    box-sizing: border-box;
    position: relative;

}
