h1.section__content__title{

    font-size: 3.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

h2.section__content__subtitle{

    font-size: 1.6rem;
    font-weight: 500;

}

.section{

    min-width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.section__content{
    
    position: relative;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.section__action__container{

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 67vh;
    width: 100%;
    text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.section__content__subtitle-a{
    
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;

    
}

.section__content__subtitle-a:hover{
    
    /* cursor: pointer; */
    text-decoration-thickness: 2px;

    
}


.section__action__container_btn{

    color: white;
    font-size: 1.2rem;
    padding: 1.4rem 0;
    text-transform: uppercase;
    margin: .8rem 0;
    border-radius: 25px;
    letter-spacing: 2px;
    flex-basis: 80%;
    font-weight: 500;
    
}

.action__btn__primary{
    
    background-color: var(--black-600);
}

.action__btn__secondary{
    
    background-color: var(--white-800);
    color: var(--black-1000);
}

.section.one{

    background-image: url(../assets/1.avif)
}

.section.two{

    background-image: url(../assets/2.avif)
}

.section.three{
    
    background-image: url(../assets/3.avif)
}

.section.four{
    
    background-image: url(../assets/4.avif)
}
.section.five{
    
    background-image: url(../assets/5.avif)
}

.section.six{
    
    background-image: url(../assets/6.avif)
}
.section.seven{
    
    background-image: url(../assets/7.avif)
}